section#contact
	div.container
		div.row
			div.col-lg-5
				h3 About Us
				br
				p We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.

			div.col-lg-3
				h3 Quick Links
				br
				ul
					li
						a(href="#") Home
					li
						a(href="#") About Us
					li
						a(href="#") Services
					li
						a(href="#") Contact

			div.col-lg-3
				h3 Contact Information
				br
				ul
					li
						a(href="#") Address: This is your location
					li
						a(href="#") Phone: (07) 4565 678
					li
						a(href="#") Email: info@demosite.com
					li
						a(href="#") Website: www.demosite.com
section#copyright
	div.container
		div.row
			div.col-lg-12
				p= records.site.sitedata[0].footer


	!= js()
	<!-- jQuery -->
	script(src="../js/jquery.js")
	script(src="../js/modernizr.custom.js")
	<!-- Bootstrap Core JavaScript -->
	script(src="../js/bootstrap.min.js")

	<!-- Plugin JavaScript -->

	script(src="../js/jquery.easing.min.js")
	script(src="../js/jquery.countTo.js")
	script(src="../js/jquery.fittext.js")
	script(src="../js/wow.min.js")


	<!-- Custom Theme JavaScript -->
	script(src="../js/jquery.imagesloaded.min.js")
	script(src="../js/cbpBGSlideshow.min.js")
	script(src="../js/owl.carousel.min.js")
	script(src="//res.cloudinary.com/webriq-pte/raw/upload/v1417678832/js/parallax.js")
	script(src="../js/creative.js")

