if _path == "/index.html"
	header
		- each slidertxts in records.slidertext.slides
			div.header-content
				div.header-content-inner
					h1= slidertxts.text
					hr
					p= slidertxts.description
					a.btn.btn-primary.btn-xl(href= slidertxts.anchorlink) Find Out More




