if _path == "/index.html"
	header
		- each slidertxts in records.slidertext.slides
			div.header-content
				div.header-content-inner
					h1 WEBRIQ CMS STARTER TEMPLATE
					hr
					p A modern responsive front-end framework based on Bootstrap CSS framework!
					a.btn.btn-primary.btn-xl(href="page/about-us") Find Out More


