header
	- each slidertxts in records.slidertext.slides
		div.header-content
			div.header-content-inner
				h1= slidertxts.text
				hr
				p= slidertxts.description
				a.btn.btn-primary.btn-xl(href= slidertxts.anchorlink) Find Out More

//- ul#cbp-bislideshow.cbp-bislideshow
//- 	- each sliders in records.slider.slides
//- 		li
//- 			img(src= sliders.image, alt= sliders.imagename)

//- div#cbp-bicontrols.cbp-bicontrols
//- 	span.cbp-biprev
//- 	span.cbp-bipause
//- 	span.cbp-binext

//- header
//- 	div.header-content
//- 		div.header-content-inner
//- 			h1 WebriQ CMS Starter Template
//- 			hr
//- 			p A modern responsive front-end framework based on Bootstrap CSS framework!
//- 			<a href="#" class="btn btn-primary btn-xl">Find Out More</a>
