extends layout

block content
	section#services
		div.container
			div.row
				div.col-lg-12.text-center
					h2.section-heading 4 Columns
					hr.primary

		div.container
			div.row
				- each offer in records.offers.data
					div.col-lg-3.col-md-6.text-center
						div.service-box
								img(src= offer.image, data-wow-delay= offer.delay).wow.bounceIn.text-primary
								h3= offer.name
								p.text-muted= offer.description